In [1]:
import numpy as np
import pandas as pd


def get_rating_matrix(filename, dtype=np.float32):
    df = pd.read_csv(filename)
    df = df.groupby(['source', 'target'])['rating'].first().unstack().fillna(0)
    return df.values


def get_frequent_matrix(filename, dtype=np.float32):
    pass

In [51]:
df = pd.read_csv('1000i.csv')
df['rating'] = 1
df.head()

   source  target  rating
0       3       7       1
1       4      15       1
2       2      49       1
3       5      44       1
4       1       1       1

In [55]:
df.groupby(['source', 'target']).count().unstack().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 1 to 5
Data columns (total 50 columns):
(rating, 0)     5 non-null int64
(rating, 1)     5 non-null int64
(rating, 2)     5 non-null int64
(rating, 3)     5 non-null int64
(rating, 4)     5 non-null int64
(rating, 5)     5 non-null int64
(rating, 6)     5 non-null int64
(rating, 7)     5 non-null int64
(rating, 8)     5 non-null int64
(rating, 9)     5 non-null int64
(rating, 10)    5 non-null int64
(rating, 11)    5 non-null int64
(rating, 12)    5 non-null int64
(rating, 13)    5 non-null int64
(rating, 14)    5 non-null int64
(rating, 15)    5 non-null int64
(rating, 16)    5 non-null int64
(rating, 17)    5 non-null int64
(rating, 18)    5 non-null int64
(rating, 19)    5 non-null int64
(rating, 20)    5 non-null int64
(rating, 21)    5 non-null int64
(rating, 22)    5 non-null int64
(rating, 23)    5 non-null int64
(rating, 24)    5 non-null int64
(rating, 25)    5 non-null int64
(rating, 26)    5 non-null int64
(rating, 27)    5 non-null int64
(rating, 28)    5 non-null int64
(rating, 29)    5 non-null int64
(rating, 30)    5 non-null int64
(rating, 31)    5 non-null int64
(rating, 32)    5 non-null int64
(rating, 33)    5 non-null int64
(rating, 34)    5 non-null int64
(rating, 35)    5 non-null int64
(rating, 36)    5 non-null int64
(rating, 37)    5 non-null int64
(rating, 38)    5 non-null int64
(rating, 39)    5 non-null int64
(rating, 40)    5 non-null int64
(rating, 41)    5 non-null int64
(rating, 42)    5 non-null int64
(rating, 43)    5 non-null int64
(rating, 44)    5 non-null int64
(rating, 45)    5 non-null int64
(rating, 46)    5 non-null int64
(rating, 47)    5 non-null int64
(rating, 48)    5 non-null int64
(rating, 49)    5 non-null int64
dtypes: int64(50)
memory usage: 2.0 KB